<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>servlet.VideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MusicServlet</servlet-name>
    <servlet-class>servlet.MusicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PictureVoteServlet</servlet-name>
    <servlet-class>servlet.PictureVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddZanServlet</servlet-name>
    <servlet-class>servlet.AddZanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddVZanServlet</servlet-name>
    <servlet-class>servlet.AddVZanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideoVoteServlet</servlet-name>
    <servlet-class>servlet.VideoVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MusicVoteServlet</servlet-name>
    <servlet-class>servlet.MusicVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMZanServlet</servlet-name>
    <servlet-class>servlet.AddMZanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOptionServlet</servlet-name>
    <servlet-class>servlet.AddOptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpPservlet</servlet-name>
    <servlet-class>servlet.UpPservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindPictureServlet</servlet-name>
    <servlet-class>servlet.FindPictureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindVideoServlet</servlet-name>
    <servlet-class>servlet.FindVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindMusicServlet</servlet-name>
    <servlet-class>servlet.FindMusicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateVoteServlet</servlet-name>
    <servlet-class>servlet.UpdateVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteVoteServlet</servlet-name>
    <servlet-class>servlet.DeleteVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>servlet.ValidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InterviewServlet</servlet-name>
    <servlet-class>servlet.InterviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Hlogin</servlet-name>
    <servlet-class>Hservlet.Hlogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HRegister</servlet-name>
    <servlet-class>Hservlet.HRegister</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManagerServlet</servlet-name>
    <servlet-class>Hservlet.UserManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>Hservlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserPass</servlet-name>
    <servlet-class>Hservlet.UpdateUserPass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PictureServlet1</servlet-name>
    <servlet-class>servlet.PictureServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MusicServlet1</servlet-name>
    <servlet-class>servlet.MusicServlet1</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MusicServlet</servlet-name>
    <url-pattern>/music</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PictureVoteServlet</servlet-name>
    <url-pattern>/picture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddZanServlet</servlet-name>
    <url-pattern>/addZan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddVZanServlet</servlet-name>
    <url-pattern>/addVZan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoVoteServlet</servlet-name>
    <url-pattern>/videoVote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MusicVoteServlet</servlet-name>
    <url-pattern>/musicVote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMZanServlet</servlet-name>
    <url-pattern>/addMZan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOptionServlet</servlet-name>
    <url-pattern>/addOption</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpPservlet</servlet-name>
    <url-pattern>/upPicture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindPictureServlet</servlet-name>
    <url-pattern>/findPicture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindVideoServlet</servlet-name>
    <url-pattern>/findVideo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindMusicServlet</servlet-name>
    <url-pattern>/findMusic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateVoteServlet</servlet-name>
    <url-pattern>/updateVote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteVoteServlet</servlet-name>
    <url-pattern>/deleteVote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterviewServlet</servlet-name>
    <url-pattern>/interview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Hlogin</servlet-name>
    <url-pattern>/Hlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HRegister</servlet-name>
    <url-pattern>/Hregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagerServlet</servlet-name>
    <url-pattern>/userManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserPass</servlet-name>
    <url-pattern>/updateUserpass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PictureServlet1</servlet-name>
    <url-pattern>/picture1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MusicServlet1</servlet-name>
    <url-pattern>/music1</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
